<div class="main-container">
  <div class="title-container centered-vertically "><h1><span id="score-page-winner"><%= t('.congratulations') %></span></h1></div>
  <div class="content-container centered-vertically">

    <div class="white-container centered-vertically" id="score-page-record-container">
      <% if @round_participation.is_the_best? %>
        <i class="fas fa-trophy trophy"></i>
        <h4><%= t('.beat_record') %> <strong class="trophy"><%= @round_participation.visited_pages.count - 1 %></strong> clicks</h4>
      <% else %>
        <h4><%= t('.no_record') %></h4>
        <i class="fas fa-heart-broken trophy"></i>
      <% end %>
    </div>

    <div class="cards">
       <% @round_participation.visited_pages.each do |visited_page| %>
        <div class="card centered-vertically path-card">
          <%= visited_page.title %>
        </div>
        <div>
          <i class="fas fa-arrow-down"></i>
        </div>
      <% end %>
        <div class="card centered-vertically path-card">
          <%= t('.victory') %>
        </div>
    </div>



    <div class="white-container centered-vertically" id="score-page-buttons-container">
      <%= link_to t('.end_game'), root_path, class: "btn-tim", id: "go-to-round-index" %>
    </div>
  </div>
</div>
