<div class="d-flex justify-content-around">
  <div class=" bg-white w-50 center mt-5 rounded shadow-sm pr-4 pl-4 pt-4 pb-4">


    <h2>Editer <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="border w-50">
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "Laissez le champ vide si vous ne voulez pas le changer",
                      required: false,
                      input_html: { autocomplete: "Nouveau mot de passe" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "Nouveau mot de passe" } %>
          <%= f.input :current_password,
                      hint: "Entrez votre mot de passe actuel pour confirmer",
                      required: true,
                      input_html: { autocomplete: "Mot de passe actuel" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Mettre à jour" %>
        </div>
      </div>
    <% end %>

    <h3>Effacer votre compte</h3>

    <p>Pas content? <%= link_to "Detruire votre compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr?" }, method: :delete %></p>

    <%= link_to "Retour", :back %>
  </div>
</div>
