<div class="main-container" id="gs-show-main-container">
  <div class="title-container centered-vertically">
    <h1>Editer :</h1>
  </div>
  <div class="content-container centered-vertically">
    <div class="white-container centered-vertically">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>En attente de confirmation de : <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      label: false, label: 'Nouveau mot de passe',
                      required: false,
                      input_html: { autocomplete: "Nouveau mot de passe" } %>
          <%= f.input :password_confirmation,
                      label: false, label: 'Confirmation',
                      required: false,
                      input_html: { autocomplete: "Nouveau mot de passe" } %>
          <%= f.input :current_password,
                      label: false, label: 'Mot de passe actuel',
                      hint: "Confirmer avec mot de passe actuel",
                      required: true,
                      input_html: { autocomplete: "Mot de passe actuel" } %>

          <%= f.button :submit, "Mettre à jour", class:'btn-tim main-red mx-auto' %>
    <% end %>
    <p><%= link_to "Detruire votre compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr?" }, method: :delete %></p>
    <%= link_to "Retour", :back %>
    </div>
  </div>
</div>
