<div class="main-container">
  <div class="title-container centered-vertically "><h1><span>Score final</span></h1></div>
  <div class="content-container centered-vertically">
    <div class="cards">

      <% rank = 1 %>
      <% @players.each do |player| %>
        <div class="card not-pointer">

          <div class="card-left-side">
            <div class="card-rank"><%= rank %></div>
            <div class="card-username"><%= player.username %></div>
          </div>

          <div class="card-right-side">
            <div class="card-score"><%=  player.total_score_for(@game_session)%> pts</div>
            <div class="card-avatar-container">
              <% if player.photo.attached? %>
                <%= image_tag player.photo, class: "card-avatar" %>
              <% else %>
                <%= cl_image_tag "wikipadia_bion2m.jpg", class: "card-avatar"%>
              <% end %>
            </div>
          </div>

        </div>
      <% rank += 1 %>
      <% end %>

    </div>

    <div class="white-container centered-vertically">
      <%= link_to "Accueil", root_path, class: "btn-tim", id:"button-home"%>
    </div>
  </div>
</div>

