<div class="main-container">
  <div class="title-container centered-vertically"><h1>Options Round <%= @game_session.rounds.count + 1%></h1></div>
  <div class="content-container centered-vertically">
    <div class="white-container centered-vertically">
    <%= simple_form_for @round, url: game_session_rounds_path(@game_session), html:{class:"centered-vertically"} do |f| %>
      <%= f.button :submit,'Jouer', class: "btn-tim", id:"to-fire-camp" %>
      <%= button_tag "Options",type: 'button', class: "btn-tim", id:"round-options-btn" %>
      <div id="round-options-modal" class="modal">
        <div id="round-options-modal-content" class="modal-content">
          <div id="round-options-modal-header">
            <span class="close" id="close-round-options">&times;</span>
          </div>
          <div class="centered-vertically" id="round-options-modal-content-after-header">
            <h4>Choix de page :</h4>
            <div id="page-choice-container">
              <%= f.input :start_page, label: false, label: "Page de début :", :collection => @wiki_pages, :prompt => "Page aléatoire", input_html: {class: "js-select2", onchange: "checkRecord()"} %>
              <%= f.input :end_page, label: false, label: "Page cible :", :collection => @wiki_pages, :prompt => "Page aléatoire", input_html: {class: "js-select2", onchange: "checkRecord()"}  %>
            </div>

            <div id="nombre-de-clicks-record">
              <p>Pas encore de record sur ce chemin</p>
            </div>

            <!-- <div id="force-cohesion"> -->

              <h4>Mode de jeu</h4>
              <%= hidden_field_tag :game_mode, 'Premier arrivé' %>
              <div id="grid-container-options">
                <div class="grid-option" id="grid-option-time-limit">
                  <i class="far fa-clock"></i>
                  <div class="title-option">Time Limit!</div>
                  <div class="validation-option">
                    <i class="fas fa-check"></i>
                  </div>
                </div>

                <div class="grid-option" id="grid-option-click-limit">
                  <i class="fas fa-mouse-pointer"></i>
                  <div class="title-option">Click Limit!</div>
                  <div class="validation-option">
                    <i class="fas fa-check"></i>
                  </div>
                </div>
              </div>


              <h4>Option de jeu</h4>

              <div id="grid-container-options">

                <div class="grid-option selectable-option selected" id="grid-option-search-bar">
                  <i class="fas fa-search"></i>
                  <div class="title-option">Search Bar!</div>
                  <div class="validation-option">
                    <i class="fas fa-check"></i>
                  </div>
                </div>

                <div class="grid-option selectable-option" id="grid-option-reverse">
                  <i class="fas fa-sync-alt"></i>
                  <div class="title-option">Reverse!</div>
                  <div class="validation-option">
                    <i class="fas fa-check"></i>
                  </div>
                </div>

                <div class="grid-option selectable-option" id="grid-option-back">
                  <i class="fas fa-chevron-circle-left"></i>
                  <div class="title-option">Back!</div>
                  <div class="validation-option">
                    <i class="fas fa-check"></i>
                  </div>
                </div>

              </div>

            <!-- </div> -->
            <%= f.input :game_options, label: false,
              collection: ['Standard', 'Avec questions', 'Sans aide de recherche', 'Où est Charlie', 'Battlefield', 'Sens-interdit'],
              default: 'Standard' %>
            <div class="not-visible">
              <%= f.input :search_bar, default: true %>
              <%= f.input :reverse, default: false %>
              <%= f.input :back, default: true %>
            </div>
            <%= button_tag "Jouer",type: 'submit', class: "btn-tim", id:"round-options-ok-btn" %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>

  // RIEN A FAIRE ICI - A REFACTO MAIS BESOIN POUR LA DEMO
  const roundStartPage = document.getElementById("round_start_page");
  const roundEndPage = document.getElementById("round_end_page");
  const recordSentence = document.getElementById("nombre-de-clicks-record");

  const lookInDB = (start_end) => {
  const requestOptions = {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json'
    }
  }
  fetch(`http://${window.location.host}/path?${start_end}`, requestOptions)
    .then(response => response.json())
    .then((data) => {
      if (data.min_click === "") {
        recordSentence.innerHTML = "Pas encore de record sur ce chemin";
      } else {
        recordSentence.innerHTML = `Le record pour ce couple de pages est de : <strong>${data.min_click} clicks</strong>`;
      }
    });
  };

  const buildQueryString = (start, end) => {
    return new URLSearchParams({start_page: start, end_page: end}).toString();
  }


  const checkRecord = () => {
    const start_title = roundStartPage.value;
    const end_title = roundEndPage.value;
    const start_end = buildQueryString(start_title, end_title);
    lookInDB(start_end);
  }

</script>
