 <div class="height-div container-fluid d-flex align-items-center justify-content-center">
  <div class="bg-white p-4 rounded-lg">
    <h2>Choisis les options de jeu</h2>
    <br>
    <div>
      <%= simple_form_for @round, url: game_session_rounds_path(@game_session) do |f| %>
        <%= f.input :start_page, :collection => @wiki_pages %>
        <%= f.input :end_page, :collection => @wiki_pages  %>
        <%= f.input :game_mode, collection: ['Speed God', 'Less Clicks', 'WTF'] %>
        <%= f.button :submit, class: "btn-blue" %>
      <% end %>
    </div>
  </div>
</div>
