<!-- Tracking the mouse with coordinates---------- -->
  <!-- <div id="top-mouse">Top mouse : 0</div>
  <div id="left-mouse">Left mouse : 0</div> -->
<!-- --------------------------------------------- -->

 <div class="container-fluid d-flex align-items-center justify-content-center">
    <div id="game-container" class="" >

      <h2 id="wikipage-title-container"></h2>
      <div id="wikipage-container">
        <!-- <div id="portal-test" class="small-portal"></div> -->
      </div>
      <div id="game-actions-bar">
        <i class="fas fa-chevron-circle-left" id="action-previous-page"></i>
        <!-- <i class="fas fa-search" id="action-search-page"></i> -->
        <div id="timer-container">00:00:00</div>
        <i class="fas fa-bullseye" id="action-target-page"></i>
      </div>
    </div>
</div>

<div id="info-your-target-modal" class="modal">
  <div id="info-your-target-modal-content" class="modal-content">
    <div id="info-your-target-modal-header">
      <span class="close" id="info-close">&times;</span>
    </div>
    <div id="info-your-target-modal-container">
      <div id="info-game-counter">Round starts in : </div>
      <div id="info-game-mode">The game mode is : <%= @round.game_mode %></div>
      <h2 id="info-game-end-page-title-container"></div>
      <div id="info-game-end-page-container"></h2>
      <div id="info-game-counter-big"></div>
    </div>
  </div>
</div>

<div id="game-end-modal" class="modal">
  <div class="modal-content">
    <h1>The game has ended!</h1>
    <%= link_to 'Voir resultats du round', "#{@host_name}#{round_round_participations_path(@round)}" %>
  </div>
</div>


<div id="game-info"
  data-current-user="<%= current_user.id %>"
  data-round="<%= @round.id %>"
  data-state= "init"
  data-start-page="<%= @round.start_page %>"
  data-end-page="<%= @round.end_page %>"
  data-current-page="<%= @round.start_page %>"
  data-participation = "<%= @round_participation_id  %>"
  data-game-mode = "<%= @round.game_mode %>"
  data-start-time = "<%= @round.start_time %>"
  data-malus-sender = ""
  data-malus = "none">
</div>

<% content_for :after_js do %>
  <script>
    App['game_session_channel_<%= @game_session.id %>'] = App.cable.subscriptions.create(
    { channel: 'GameSessionChannel', game_session_id: <%= @game_session.id %> },
    {received: (data) => {
      console.log(data);
      const gameInfo = document.getElementById('game-info');

      if(data['end_game']){
        gameInfo.dataset.state = "ended";
      }else if(data['malus']){
        console.log('there is a malus');
        console.log(data['malus']);
        gameInfo.dataset.sender = data['malus']['sender'];
        gameInfo.dataset.malus = data['malus']['type'];
      }

    }

    })
  </script>
<% end %>

