<div id="game-navbar"></div>

<p><strong>Page de debut:</strong> <%= @round.start_page %></p>
<p><strong>Page de fin:</strong> <%= @round.end_page %></p>
<p>modal pop up when counter arrives to 5 or 3 </p>
<p>Puis quand le jeu est fini, on a le choix de:</p>

<!-- Tracking the mouse with coordinates---------- -->
  <!-- <div id="top-mouse">Top mouse : 0</div>
  <div id="left-mouse">Left mouse : 0</div> -->
<!-- --------------------------------------------- -->

 <div class="container-fluid d-flex align-items-center justify-content-center">
    <div id="game-container" class="" >
      <div id="wikipage-container" data-start-page="<%= @round.start_page %>" data-end-page="<%= @round.end_page %>" data-participation = "<%= @round_participation_id  %>">

        <!-- <div id="portal-test" class="small-portal"></div> -->
      </div>
    </div>
</div>

<% if current_user == @game_session.user_id %>
  <%= link_to "Play a new Round", new_game_session_round_path(@game_session) %>
<% else %>
  <%= link_to "Play a new Round", game_session_path(@game_session) %>
<% end %>
<%= link_to "End the Game Session", game_session_rounds_path(@game_session) %>
