<div class="main-container" id="gs-show-main-container">
  <div class="title-container centered-vertically">
    <h1>
      <% if @user.first_name != nil && @user.first_name != "" %>
        <%= @user.first_name%>, mets à jour ton profil!
      <% else %>
        Tu n'as même pas donné ton nom!!! Remplis ton profil...
      <% end %>
    </h1>
  </div>
  <div class="content-container centered-vertically">
    <div class="white-container centered-vertically">

      <%= simple_form_for @user do |f| %>
        <h2>Info</h2>
        <%= f.input :first_name, label: false, label: 'Nom' %>
        <%= f.input :last_name, label: false, label: 'Prenom' %>
        <%= f.input :username, label: false, label: "Nom d'utilisateur" %>
        <h2>Photo</h2>
        <%= f.input :photo, label: false %>
        <%= f.submit 'Mettre à jour', class:'btn-tim main-red mx-auto' %>
      <% end %>

      <%= link_to "Retour", :back %>

    </div>
  </div>
</div>
