<h1>
  <% if @user.username != nil && @user.username != "" %>
    <%= @user.username %>, mets à jour ton profile!
  <% else %>
    Putain mais t'as même pas de Username!!! Vas y, remplis ton profile!!
  <% end %>
</h1>

<div class="edit-form-container">
   <%= simple_form_for @user do |f| %>
      <h2>Info utilisateur</h2>
      <%= f.input :first_name, label: false, label: 'Nom' %>
      <%= f.input :last_name, label: false, label: 'Prenom' %>
      <%= f.input :username, label: false, label: "Nom d'utilisateur" %>
      <h2>Photo de profile</h2>
      <%= f.input :photo, label: false %>
      <%= f.submit 'Mets à jour ton profile' %>
    <% end %>
</div>

<%= link_to "Retour", :back %>
