<div class="main-container">
  <div class="title-container centered-vertically "><h1><span id="#home-page-title">Mon profile</span></h1></div>
    <div class="content-container centered-vertically">
      <div class="white-container centered-vertically">
        <div>
          <i class="fas fa-money-bill-wave"></i>
          Argent: <%= current_user.coins %> WikiMonnaie
        </div>
        <div class="row">
          <div class="col-sm">
            <i class="fas fa-fire"></i>
            en stock: <%= current_user.item1 %>
          </div>
          <div class="col-sm">
            <i class="fas fa-fire-extinguisher"></i>
            en stock: <%= current_user.item2 %>
          </div>
          <div class="col-sm">
            <i class="fas fa-random"></i>
            en stock: <%= current_user.item3 %>
          </div>
          <div class="col-sm">
            <i class="fas fa-ghost"></i>
            en stock: <%= current_user.item4 %>
          </div>
          <div class="col-sm">
            <i class="fas fa-plus-square"></i>
            en stock: <%= current_user.item5 %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-container centered-vertically">
      <div class="white-container centered-vertically">
        <h3>Records mondiaux détenus :</h3>
        <div class="cards">
          <% @world_records.each do |world_record| %>
            <div class="card" data-game_session="<%= world_record.id %>">
              <div class="card-left-side">
                <div class="card-rank-container">
                  <div class="card-rank">Début : <%= world_record.start_page.title %></div>
                </div>
                <div class="card-username">Fait en <%= world_record.points.count %> clicks</div>
              </div>
              <div class="card-right-side">
                <div class="card-score">Fait en <%= world_record.duration %> secondes</div>
              </div>
              <div class="card-rank-container">
                <div class="card-rank">Fin : <%= world_record.end_page.title %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="content-container centered-vertically">
      <div class="white-container centered-vertically">
        <h3>Records perso :</h3>
        <div class="cards">
          <% @personal_records.each do |personal_record| %>
            <div class="card" data-game_session="<%= personal_record.id %>">
              <div class="card-left-side">
                <div class="card-rank-container">
                  <div class="card-rank">Début : <%= personal_record.round.start_page %></div>
                </div>
                <div class="card-username">Fait en <%= personal_record.visited_pages.count %> clicks</div>
              </div>
              <div class="card-right-side">
                <div class="card-score">Fait en <%= personal_record.end_time - personal_record.round.start_time.to_i %> secondes</div>
              </div>
              <div class="card-rank-container">
                <div class="card-rank">Début : <%= personal_record.visited_pages.last.title %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
