<div class="main-container">
  <div class="title-container centered-vertically "><h1><span id="#home-page-title">WikiRace</span></h1></div>
  <div class="content-container centered-vertically">
    <div class="white-container centered-vertically">
      <% if user_signed_in? %>

          <%= simple_form_for @game_session, html: { id: 'home-page-options' } do |f| %>
              <%= f.submit "Créer une partie", class: "btn-tim", id: "red-pill" %>
          <% end %>

          <%= text_field_tag "name", "", placeholder: "Entres le code donné #", id: "round-input" %>
          <%= button_tag "Rejoindre",class: "btn-tim", id: "blue-pill" %>


      <% else %>
        <%= link_to "JOUER", new_user_session_path, class: "btn-tim", id:"welcome-btn" %>
      <% end %>
    </div>
  </div>
</div>







