 <div class="height-div container-fluid d-flex align-items-center justify-content-center">
  <div class="text-center">
    <div>
      <h2>Bienvenu sur WikiRace</h2>
      <h4>Prets à jouer mon grand ?</h4>
      <br>
    </div>
    <div>
      <% if user_signed_in? %>
        <div class="bg-white p-4 rounded-lg">
          <%= simple_form_for @game_session do |f| %>
            <%= f.submit "Crées ta partie", class: "btn-orange-blue" %>
          <% end %>
          <br>
          <h3>or</h3>
          <br>
          <%= text_field_tag "name", "", placeholder: "Entres le numéro de round", id: "round-input" %>
          <%= button_tag "Rejoins une partie existante", class: "btn-blue-orange", id: "round-input-submit" %>
        </div>
      <% else %>
        <div>
          <%= link_to "NOUVELLE PARTIE", new_user_registration_path, class: "btn-blue-orange" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

