<div class="main-container">
  <div class="title-container centered-vertically "><h1><span id="#home-page-title">WikiRace</span></h1></div>
  <div class="content-container centered-vertically">
    <div class="white-container centered-vertically">
      <% if user_signed_in? %>

          <%= simple_form_for @game_session, html: { id: 'home-page-options' } do |f| %>
              <%= f.submit "Créer une partie", class: "btn-tim", id: "red-pill" %>
          <% end %>

          <%= text_field_tag "name", "", placeholder: "Entre le code donné #", id: "round-input" %>
          <div class="info-bubble-join" id="info-bubble-join">
            <i class="fas fa-info-circle"></i>
          </div>
          <%= button_tag "Rejoindre",class: "btn-tim", id: "blue-pill" %>


      <% else %>
        <%= link_to "JOUER", new_user_session_path, class: "btn-tim", id:"welcome-btn" %>
      <% end %>
    </div>
  </div>
</div>


<div class="modal-info-join">
  <div id="modal-info-join">
    <span>Code pour rejoindre :<a href="#close" id="close-join">&#215;</a></span>
    <p>Une fois que le créateur de la partie a choisi les options de jeu, celui-ci peut partager le numéro du round afin que des amis puissent le rejoindre sur la page "Feu de camp" avant de démarrer un nouveau round.</p>
    <p><em><strong>Note:</strong> le numéro de round change à chaque fois que l'on veut relancer une manche. Il faut donc partager le nouveau code si l'on veut que d'autres amis rejoignent le groupe.</em></p>
  </div>
</div>



