<div class="main-container" id="gs-show-main-container">
  <div class="title-container centered-vertically"><h1>Feu de Camp</h1></div>
  <div class="content-container centered-vertically">
    <div class="white-container centered-vertically">
      <%= button_tag "Inviter des amis",type: 'button', class: "btn-tim", id:"invite-friends-btn" %>
      <%if current_user.id == @game_session.user_id  %>
        <div class="btn-tim" id ="btn-start-game" data-round="<%= @round.id %>" >LANCE LE JEU!</div>
      <% else %>
        <%= button_tag "Round Info",type: 'button', class: "btn-tim", id:"round-info-btn" %>
      <%end  %>
    </div>

      <div id="create-message" class="white-container">
        <%= simple_form_for [@game_session, Message.new], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: 'Taille tes potes!' %>
        <% end %>

      <div class="messages">
        <% @game_session.messages.each do |message| %>
          <%= render "messages", message: message %>
        <% end %>
        <% @round.round_participations.each do |round_participation| %>
        <p class="new-connection">- <%= User.find(round_participation.user_id).username %> a rejoint la partie...</p>
        <% end %>
      </div>
    </div>
  </div>

  <div id="invite-friends-modal" class="modal">
    <div id="invite-friends-modal-content" class="modal-content">
      <div id="invite-friends-modal-header">
        <span class="close" id="close-invite-friends">&times;</span>
      </div>
      <div class="centered-vertically" id="invite-friends-modal-content-after-header">
        <h4>Invite tes amis!</h4>
        <p>Envoie leur ce code : <strong><%= @round.id %></strong></p>
        <p>OU</p>
        <p>fais leur flasher ce QRcode :</p>
        <br>
        <img src=<%= "http://api.qrserver.com/v1/create-qr-code/?data=http://www.wikirace.xyz/rounds/#{@round.id}/round_participations/new/&size=[150]x[150]" %> alt="Le QR Code pour rejoindre la partie" title="QR Code" />
        <br>
        <p>OU ENCORE</p>
        <p>envoi leur ce lien :</p>
        <button id="copy-button" class="">Copier le lien</button>
        <input id="url" style="opacity: 0;" type="text" value="http://www.wikirace.xyz/rounds/<%= @round.id %>/round_participations/new" readonly></input>
      </div>
    </div>
  </div>

  <div id="round-info-modal" class="modal">
    <div id="round-info-modal-content" class="modal-content">
      <div id="round-info-modal-header">
        <span class="close" id="close-round-info">&times;</span>
      </div>
      <div class="centered-vertically" id="round-info-modal-content-after-header">
        <h4>Some information!</h4>
        <p class="text-center">dhkbdsmb</p>
      </div>
    </div>
  </div>
</div>



<% content_for :after_js do %>
  <script>
    App['game_session_channel_<%= @game_session.id %>'] = App.cable.subscriptions.create(
    { channel: 'GameSessionChannel', game_session_id: <%= @game_session.id %> },
    {received: (data) => {
        if (data.message_partial === undefined && data.player === undefined && data.end_game === undefined) {
          window.location = '<%= round_path(@round) %>';

        } else if (data.content === undefined && data.player === undefined && data.end_game === undefined) {
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('afterbegin', data.message_partial);
          const  input = document.querySelector('#message_content');
          input.value = '';
          input.blur();

        } else if (data.content === undefined && data.message_partial === undefined && data.end_game === undefined) {
          const playerConnected = document.querySelector('.messages');
          console.log(data.player);
          playerConnected.insertAdjacentHTML('afterbegin', `<p class="new-connection">- ${data.player} a rejoint la partie...</p>`);

        } else if (data.content === undefined && data.message_partial === undefined && data.player === undefined) {
          console.log('modal pop up');

        } else {
          console.log('canard');
        }
      }
    })
  </script>
<% end %>



