<div class="main-container" id="gs-show-main-container">
  <div class="title-container centered-vertically"><h1>Feu de Camp</h1></div>
  <div class="content-container centered-vertically">
    <div class="white-container centered-vertically">
      <%= button_tag "Inviter des amis",type: 'button', class: "btn-tim", id:"invite-friends-btn" %>
      <%if current_user.id == @game_session.user_id  %>
        <div class="btn-tim" id ="btn-start-game" data-round="<%= @round.id %>" >LANCE LE JEU!</div>
      <% else %>
        <%= button_tag "Round Info",type: 'button', class: "btn-tim", id:"round-info-btn" %>
      <%end  %>
    </div>

      <div id="create-message" class="white-container">
        <%= simple_form_for [@game_session, Message.new], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: 'Taille tes potes!' %>
        <% end %>

      <div class="messages">
        <% @game_session.messages.each do |message| %>
          <%= render "messages", message: message %>
        <% end %>
        <% @round.round_participations.each do |round_participation| %>
        <p class="new-connection">- <%= User.find(round_participation.user_id).username %> a rejoint la partie...</p>
        <% end %>
      </div>
    </div>
  </div>

  <div id="invite-friends-modal" class="modal">
    <div id="invite-friends-modal-content" class="modal-content">
      <div id="invite-friends-modal-header">
        <span class="close" id="close-invite-friends">&times;</span>
      </div>
      <div class="centered-vertically" id="invite-friends-modal-content-after-header">
        <h4 class="parcours-title" style="margin-bottom: 10px;">Invite tes amis !</h4>
        <p>1) Envoie leur ce code :  <strong id="round-id-link"><%= @round.id %></strong></p>
        <p><i class="fas fa-sort invit-arrow"></i></p>
        <p>2) Fais leur flasher ce QRcode :</p>
        <br>
        <img style="max-width: 150px;" src=<%= "http://api.qrserver.com/v1/create-qr-code/?data=http://www.wikirace.xyz/rounds/#{@round.id}/round_participations/new/&size=[150]x[150]" %> alt="Le QR Code pour rejoindre la partie" title="QR Code" />
        <br>
        <p><i class="fas fa-sort  invit-arrow"></i></p>
        <p>3) Envoi leur ce lien</p>
        <button class="btn-tim main-red">Copier le lien</button>
        <input id="url" style="opacity: 0;" type="text" value="http://www.wikirace.xyz/rounds/<%= @round.id %>/round_participations/new" readonly></input>
      </div>
    </div>
  </div>

  <div id="round-info-modal" class="modal">
    <div id="round-info-modal-content" class="modal-content">
      <div id="round-info-modal-header">
        <span class="close" id="close-round-info">&times;</span>
      </div>
      <div class="centered-vertically" id="round-info-modal-content-after-header">
        <h3>Détails de la partie!</h3>

        <div class="info-option-container">
          <% if  @round.start_page_random == false %>
             <h4 class="text-center"><i class="fas fa-play-circle"></i> page de départ</h4><p><%= @round.start_page %></p>
          <% else %>
            <h4 class="text-center"><i class="fas fa-play-circle"></i> page de départ</h4><p>Page aléatoire...</p>
          <% end %>
        </div>
        <div class="info-option-container">
          <% if  @round.end_page_random == false %>
            <h4 class="text-center"><i class="fas fa-bullseye"></i>page à atteindre</h4><p class="mb-0"><%= @round.end_page %></p>
          <% else%>
            <h4 class="text-center"><i class="fas fa-bullseye"></i> page à atteindre</h4><p class="mb-0">Page aléatoire...</p>
          <% end %>
        </div>

        <div class="info-option-container">
          <h4 class="text-center">Mode de jeu: <br></h4><p><%= @round.game_mode %></p>
          <p class="text-center"><i>Atteint la page objectif en cliquant le moins possible, peu importe le temps</i></p>
        </div>

        <% if @round.game_options != nil %>
          <div class="info-option-container">
            <h4 class="text-center">Options de jeu: <br></h4>
            <% game_options_array = [] %>
            <% game_options_array << @round.game_options %>
            <% if game_options_array.size > 1 %>
              <% @round.game_options.split.each do |game_option| %>
                <p><%= game_option %></p>
              <% end %>
            <% else %>
              <p><%= @round.game_options %></p>
            <% end %>
          </div>
        <% end %>

        <%= link_to "OK", game_session_path, class:"btn-tim", id:"ok-btn" %>
      </div>
    </div>
  </div>
</div>



<% content_for :after_js do %>
  <script>
    App['game_session_channel_<%= @game_session.id %>'] = App.cable.subscriptions.create(
    { channel: 'GameSessionChannel', game_session_id: <%= @game_session.id %> },
    {received: (data) => {
        if (data.message_partial === undefined && data.player === undefined && data.end_game === undefined) {
          window.location = '<%= round_path(@round) %>';

        } else if (data.content === undefined && data.player === undefined && data.end_game === undefined) {
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('afterbegin', data.message_partial);
          const  input = document.querySelector('#message_content');
          input.value = '';
          input.blur();

        } else if (data.content === undefined && data.message_partial === undefined && data.end_game === undefined) {
          const playerConnected = document.querySelector('.messages');
          console.log(data.player);
          playerConnected.insertAdjacentHTML('afterbegin', `<p class="new-connection">- ${data.player} a rejoint la partie...</p>`);

        } else if (data.content === undefined && data.message_partial === undefined && data.player === undefined) {
          console.log('modal pop up');

        } else {
          console.log('canard');
        }
      }
    })
  </script>
<% end %>




