<h1>Welcome to your Game Session</h1>
<p><%= @game_session.id %></p>

<p>Link to send to your friends : www.wikirace.xyz/rounds/<%= @round.id %>/round_participations/new</p>

<img src=<%= "http://api.qrserver.com/v1/create-qr-code/?data=http://www.wikirace.xyz/rounds/#{@round.id}/round_participations/new/&size=[150]x[150]" %> alt="Le QR Code pour rejoindre la partie" title="QR Code" />

<p>Waiting for your friends to join</p>
<div class="spinner-box">
  <div class="leo-border-1">
    <div class="leo-core-1"></div>
  </div>
  <div class="leo-border-2">
    <div class="leo-core-2"></div>
  </div>
</div>


<%if current_user.id == @game_session.user_id  %>
  <div class="btn btn-blue" id ="btn-start-game">LANCE LE JEU!</div>
    <%#= link_to "START THE GAME", round_path(@round)%>

<%end  %>

  <!-- this part is the chat window -->
<div class="chat-container">
  <div class="chat-element">
    <div class="chat-header"><h4>Welcome to the GameSession <%= @game_session.id %></h4></div>

    <div class="messages">
      <% @game_session.messages.each do |message| %>
        <%= render "messages", message: message %>
      <% end %>
    </div>

    <div id="create-message">
      <%= simple_form_for [@game_session, Message.new], remote: true do |f| %>
        <%= f.input :content, label: false %>
      <% end %>
    </div>
  </div>
</div>

<!-- that is the subscription that happens when a user gets to the game_session#show -->
<% content_for :after_js do %>
  <script>
    App['game_session_channel_<%= @game_session.id %>'] = App.cable.subscriptions.create(
    { channel: 'GameSessionChannel', game_session_id: <%= @game_session.id %> },
    {received: (data) => {
        if (data.message_partial === undefined) {
          window.location = '<%= round_path(@round) %>';
        } else if (data.content === undefined) {
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          const  input = document.querySelector('#message_content');
          input.value = '';
          input.blur();
        }
      }
    })
  </script>
<% end %>
