<h1>Welcome to your Game Session</h1>
<p><%= @game_session.id %></p>

<p>Link to send to your friends : www.wikirace.xyz/rounds/<%= @round.id %>/round_participations/new</p>

<%if current_user.id == @game_session.user_id  %>
  <div class="btn">
    <%= link_to "START THE GAME", round_path %>
  </div>
<%end  %>


<div>
  <div class="chat-header"><h4>Welcome to the GameSession <%= @game_session.id %></h4></div>

  <div class="messages">
    <% @game_session.messages.each do |message| %>
      <%= render "messages", message: message %>
    <% end %>
  </div>

  <div id="create-message">
    <%= simple_form_for [@game_session, Message.new], remote: true do |f| %>
      <%= f.input :content, label: false %>
    <% end %>
  </div>

</div>

<% content_for :after_js do %>
  <script>
    App['game_session_channel_<%= @game_session.id %>'] = App.cable.subscriptions.create({
    channel: 'GameSessionChannel', game_session_id: <%= @game_session.id %> }, {
        received: (data) => {
          console.log(data);
      }
    })
  </script>
<% end %>
